html {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
    position: absolute;
    left: 22.85%;
    right: 20.62%;
    top: 8.2%;
    bottom: 74.22%;

    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 90px;
    line-height: 124px;
    text-align: center;
}